COMPOSE_PROJECT_NAME=pkbm-canvas
LOCAL_UID=1000
LOCAL_GID=1000
CANVAS_PORT=8081
PKBM_PORT=3000
POSTGRES_PASSWORD=generate_with_scripts_env_init
CANVAS_DB_PASSWORD=generate_with_scripts_env_init
PKBM_DB_PASSWORD=generate_with_scripts_env_init
CANVAS_ENCRYPTION_KEY=generate_with_scripts_env_init
CANVAS_JWT_KEY=generate_with_scripts_env_init
PKBM_SECRET_KEY_BASE=generate_with_scripts_env_init
CANVAS_LMS_ADMIN_EMAIL=admin@pkbm.local
CANVAS_LMS_ADMIN_PASSWORD=generate_with_scripts_env_init
CANVAS_LMS_ACCOUNT_NAME=PKBM Simulasi Lokal
CANVAS_LMS_STATS_COLLECTION=opt_out
CANVAS_LOCAL_TUTOR_EMAIL=tutor@pkbm.local
CANVAS_LOCAL_TUTOR_PASSWORD=generate_with_scripts_env_init
CANVAS_LOCAL_WB_EMAIL=wb@pkbm.local
CANVAS_LOCAL_WB_PASSWORD=generate_with_scripts_env_init
